.card-size{
    height: 320px;
}

.card-colapsed{
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.card-pay{
    width: 40px;
    height: 40px;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: rgb(59, 85, 188);
}