.container-app{
    max-width: 517px;

    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
    align-items: center;

    margin: 0 auto;
}

.container{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  box-sizing: inherit;
}

.padding-h-16{
  padding-left: 16px;
  padding-right: 16px;
}

.full-w{
  width: 100%;
  box-sizing: border-box;
}

.down{
  position: fixed;
  bottom: 10px; 
  display: flex;
  justify-content: flex-end;
}

.box{
  border: 1px solid #30363d;
  border-radius: 6px;
}

.flex{
  display: flex;
}

.margin-r-10{
  margin-right: 10px;
}

.margin-r-20{
  margin-right: 20px;
}

.margin-r-30{
  margin-right: 30px;
}

.margin-b-20{
  margin-bottom: 20px;
}

.margin-b-100{
  margin-bottom: 100px;
}

.margin-b-10{
  margin-bottom: 10px;
}

.align-center{
  align-items: center;
}

.jc-center{
  justify-content: center;
}

.row{
  flex-direction: row;
}

.col{
  flex-direction: column;
}

.flex-jc-sa{
  justify-content: space-around;
}

.flex-jc-sb{
  justify-content: space-between;
}


.padding-h{
  padding: 25px;
}

.padding-10{
  padding: 10px;
}

.text-titulo{
  font-size: 20px;
  font-weight: 600;
  color: #5C6BC0;
  padding-bottom: 10px;
}

.text-center{
  text-align: center;
}

.text-resumen{
  font-size: 16px;
  font-weight: 500;
  color: #4c5aa8;
}

.item{
  color: #5C6BC0;
  font-weight: 600;
}

input[type=text], input[type=number]{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-indent: 10px;
  color: #5C6BC0;
}

input[type=date]{
  width: 220px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-indent: 5px;
  color: #5C6BC0;
}

button{
  width: 100px;
  height: 33px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #3949AB;
  font-weight: 600;
  color: #3949AB;
}

button:hover{
  background-color: #5C6BC0;
  color: #30363d;
}

.editar-img{
  width: 30px;
  height: 32px;
}

.modal{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #360719cb;

  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

}

.padding-l-20{
  padding-left: 20px;
}

.box-down{
  border-bottom: 1px solid #30363d;
  margin-bottom: 20px;
}

.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.solid-color{
  background-color: #330316;
}