:root{
    margin: 0;
    background-color: #202023;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    color: antiquewhite;

}

body{
    margin: 0;
    background-color: #202023;
}